body{
	background: url(../img/background.jpg);
	font-family: 'Indie Flower', cursive;
}

.container_12{
	clear: both;
	background-color: #BCED91;
	width: 960px;
}

header{
	height: 63px;
	background-color: #2E8B57;
	position: fixed;
	border-bottom: 1px solid green;
	z-index: 10;
}

header:after{
	border-bottom: 1px solid green;
}

.header_content img{
	position: absolute;
	top: 5px;
	left: 10px;
	margin-bottom: 0;
}

.header_content h1{
	font-size: 32px;
	color: black;
	margin-top: 10px;
	text-indent: 55px;
}

nav li{	
	margin-top: 15px;
	margin-left: 110px;
	margin-right: -40px;
	display: inline;
	float: left;
	font-size: 20px;
	padding-right: -10px; 
	width: 50px;
}

li a{
	margin-right: -20px;
	color: black;
	text-decoration: none;
	float: left;
	border: 2px solid green;
	border-radius: 5px;
	width: 150%;
	text-align: center;
	background: white;
}
nav li a:hover{
	color: white;
	background: #2E8B57;
}

.primary{
	margin-top: 80px;
	width: 100%;
}

div.hero {
	margin-top: 80px;
  	width: 100%;
  	background-color: ;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  	border-bottom: 1px solid green;
}

div.hero_container, div.primary_container{
  	text-align: center;
}

.hero_container p{
	clear: both;
	font-size: 42px;
	margin-top: 3px;
	padding-bottom: 10px;
	background-color: white;
	margin-bottom: 0;
	text-align: left;
	width: 100%;
	border-bottom: 4px double green;
}

.primary{
	margin-right: 0;
}

.primary section{
	position: relative;
	top: -35px;
}

section img{
	position: relative;
	top: 5px;
}

section{
	height: 235px;
	border-top: 4px double green;
	border-bottom: 4px double green;
	padding-left: 0;
	padding-right: 0;
	background: url(../img/grid_row1_column2.jpg) no-repeat;
}

.primary #column1, #column2, #column3{
	position: relative;
	top: 40px;
	font-size: 30px;
	font-family: 'Mirza', cursive;
	text-align: center;
	padding: 0;
}

.primary #column2_1{
	position: relative;
	top: 20px;
	font-size: 20px;
	font-family: 'Mirza', cursive;
	text-align: center;
	padding: 0;
	line-height: 20px;
}

.primary  p{
	margin-left: 0;
	position: relative;
	top: -40px;
}
.primary_container p{
	clear: both;
	font-size: 24px;
	margin-top: 0;
	padding-bottom: 10px;
	background-color: white;
	margin-bottom: 0;
	position: relative;
	top: 65px;
}



.column1 p, .column2 p, .column3 p{
	clear: both;
	text-align: center;
	font-size: 24px;
	margin-top: 0;
	padding-bottom: 10px;
	background-color: white;
	margin-bottom: 0;
	position: relative;
}

.column1 p{
	top: 60px;
}

.column2 p{
	top: 45px;
}

.column3 p{
	top: 33px;
}

.primary #column3{
	position: relative;
	top: 45px;
	font-size: 26px;
	font-family: 'Mirza', cursive;
	text-align: center;
	padding: 0;
}

section{
	height: 235px;
	border-top: 4px double green;
	border-bottom: 4px double green;
	padding-left: 0;
	padding-right: 0;
	background: url(../img/grid_row1_column2.jpg) no-repeat;
}

#video1{
	width: 300px;
	height: auto;
	position: relative;
	top: 30px;
}

section.details{
	background: url(../img/grid_row1_column2.jpg) repeat-x;
	height: 235px;
	opacity: 0.9;
	z-index: -1;
}

.details ul{
	margin: 0;
}

.split li{
	margin-top: 0px;
	padding-top: 5px;
	height: 65px;
	margin-left: 0;
}

.split p{
	font-size: 28px;
	font-family: 'Mirza', cursive;
	border: 4px inset gray;
	margin-bottom: 0;
	padding: 7px;
}

.row_details p{
	clear: both;
	font-size: 42px;
	margin-top: 0;
	text-align: center;
	padding-bottom: 10px;
	background-color: white;
	margin-bottom: 0;
	position: relative;
	top: -15px;
	border-bottom: 4px double green;
}


.footer_content{
	clear: both;
	background: #2E8B57;
	height: 170px;
	border-top: 4px double green;
	margin: 0;
}

.icons{
	float: right;
	margin-right: 20px;
}

.list{
	position: relative;
	top: 50px;
	margin-top: 60px;
	display: inline;
	width: 50%;
	font-size: 26px;
	text-indent: 20px;
	padding-top: 50px;
	padding-right: 20px;
	text-decoration: none;
	padding-left: 20px;
	color: black;
}

.list:hover{
	text-decoration: underline;
	color: white;
}

.icons{
	position: relative;
	top: 50px;
}

footer p{
	text-align: center;
	position: relative;
	top: 75px;
	color: white;
	font-size: 20px;
}